#!/usr/bin/env bash
{{ ansible_managed | comment }}

EMAIL='{{ nut_notification_email }}'
echo -e "UPS: $UPSNAME\r\nALERT TYPE: $NOTIFYTYPE\r\nTIME: $(date)\r\n\r\nADDITIONAL INFO:\r\n$(upsc $UPSNAME)" | mail -s "UPS: $NOTIFYTYPE" "$EMAIL"
