{% for user, options in nut_upsd_users.items() %}
{% for user, options in nut_upsd_users.items() %}
[{{ user }}]
{% for option, value in options.items() %}
{% if option == 'upsmon' %}
{{ option }} {{ value }}
{% elif value is iterable and not value is string and (value | type_debug) != 'AnsibleVaultEncryptedUnicode' %}
{% for item in value %}
{{ option }} = {{ item }}
{% endfor %}
{% else %}
{{ option }}{% if value != '' %} = {{ value }}{% endif %}
{% endif %}
{% endfor %}

{% endfor %}
