---
- name: Restart WireGuard
  ansible.builtin.service:
    name: "wg-quick@{{ item.key }}"
    enabled: true
    state: restarted
  # no_log: true
  loop: "{{ wireguard_config | flatten(levels=1) }}"
