---
- name: Restart SystemD Service for Modified Stack
  listen: Restart SystemD Service for Modified Stack
  ansible.builtin.systemd:
    name: "docker-compose@{{ stack_name }}.service"
    state: restarted
  loop: >-
    {{
      (
        (docker_compose_stack_env_result.results | default([]) | selectattr('changed', 'equalto', true) | map(attribute='item.name') | list)
        +
        (docker_compose_stack_file_result.results | default([]) | selectattr('changed', 'equalto', true) | map(attribute='item.name') | list)
      ) | unique
    }}
  loop_control:
    loop_var: stack_name
    label: "{{ stack_name }}"
