---

# Debug {{ playbook_dir }}
- name: Display playbook directory
  ansible.builtin.debug:
    msg: "{{ playbook_dir }}"

- name: Test file
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/files/appstack/{{ item.name }}"
    dest: "/tmp/{{ item.name }}"
    decrypt: true
    owner: root
    group: root
    mode: '0644'
  when: item.name is defined and item.name | length > 0
  loop:
    - { name: test_stack }
    - { name: another_stack }
  loop_control:
    label: "{{ item.name }}"
