{{ ansible_managed | comment }}

[Unit]
Description=Automount {{ item.name }}
{% if item.before is defined and item.before -%}
Before={{ item.before }}
{% endif %}
{% if item.after is defined and item.after -%}
After={{ item.after }}
{% endif %}
{% if item.wants is defined and item.wants -%}
Wants={{ item.wants }}
{% endif %}
{% if item.requires is defined and item.requires -%}
Requires={{ item.requires }}
{% endif %}

[Automount]
Where={{ item.where }}

[Install]
WantedBy=multi-user.target
