[Unit]
Description=Automount {{ item.name }}
Before={{ item.before | default('') }}
After={{ item.before | default('network-online.target') }}

[Automount]
Where={{ item.where }}

[Install]
WantedBy=multi-user.target
