[Unit]
Description=Automount {{ item.name }}
{%- if item.before is defined and item.before %}
Before={{ item.before }}
{%- endif %}
{%- if item.after is defined and item.after %}
After={{ item.after }}
{%- endif %}

[Automount]
Where={{ item.where }}

[Install]
WantedBy=multi-user.target
