[Unit]
Description=Mount {{ item.name }}
{% if item.before is defined and item.before -%}
Before={{ item.before }}
{% endif %}
{% if item.after is defined and item.after -%}
After={{ item.after }}
{% endif %}
{% if item.wants is defined and item.wants -%}
Wants={{ item.wants }}
{% endif %}
{% if item.requires is defined and item.requires -%}
Requires={{ item.requires }}
{% endif %}

[Mount]
What={{ item.what }}
Where={{ item.where }}
{% if item.type is defined and item.type -%}
Type={{ item.type }}
{% endif %}
{% if item.options is defined and item.options -%}
Options={{ item.options }}
{% endif %}

[Install]
WantedBy=multi-user.target
