[Unit]
Description=Mount {{ item.name }}
Before={{ item.before | default('') }}
After={{ item.before | default('network-online.target') }}

[Mount]
What={{ item.what }}
Where={{ item.where }}
Type={{ item.type | default('') }}
Options={{ item.options | default('') }}

[Install]
WantedBy=multi-user.target
