---
- name: QEMU Guest Agent
  when: ansible_system_vendor == 'QEMU' and
        ( qemu_guest_agent_enabled is defined and qemu_guest_agent_enabled | bool )
  block:
    - name: QEMU Guest Agent
      ansible.builtin.package:
        name: qemu-guest-agent
        state: present
    - name: Enable QEMU Guest Agent
      ansible.builtin.service:
        name: qemu-guest-agent
        enabled: true
        state: started
