---
- name: Configure groups
  block:
    - name: Create groups
      ansible.builtin.group:
        name: "{{ item.name }}"
        gid: "{{ item.gid | default(omit) }}"
        system: "{{ item.system | default(omit) }}"
        state: "{{ item.state | default(omit) }}"
      loop: "{{ local_groups }}"

    - name: Add Groups to Sudoers
      ansible.builtin.lineinfile:
        path: "/etc/sudoers.d/10_{{ item.name }}"
        line: "%{{ item.name }} ALL=(ALL) NOPASSWD: ALL"
        state: "{{ item.state | default(omit) }}"
        mode: 0440
        create: yes
        validate: 'visudo -cf %s'
      when: item.sudo is defined and item.sudo
      loop: "{{ local_groups }}"
  when: local_groups is defined and local_groups

- name: Configure users
  block:
    - name: Create users
      ansible.builtin.user:
        name: "{{ item.name }}"
        comment: "{{ item.comment | default(omit) }}"
        uid: "{{ item.uid | default(omit) }}"
        group: "{{ item.group | default(omit) }}"
        groups: "{{ item.groups | default(omit) }}"
        append: "{{ item.append | default(omit) }}"
        password: "{{ item.password | default(omit) }}"
        shell: "{{ item.shell | default(omit) }}"
        home: "{{ item.home | default(omit) }}"
        create_home: "{{ item.create_home | default(omit) }}"
        system: "{{ item.system | default(omit) }}"
        state: "{{ item.state | default(omit) }}"
      when: item.name is defined and item.name != 'root'
      loop: "{{ local_users }}"

    - name: Add authorized keys
      ansible.posix.authorized_key:
        user: "{{ item.name }}"
        key: "{{ item.authorized_keys | default(omit) }}"
        exclusive: "{{ item.exclusive | default(omit) }}"
      loop: "{{ local_users }}"
  when: local_users is defined and local_users
  no_log: no
