---
# Adds  extra CA Certificates
- name: Install ca-certificates package
  ansible.builtin.package:
    name: ca-certificates
    state: present

- name: Ensure certificates directory exists
  ansible.builtin.file:
    path: "{{ ca_path }}/"
    state: directory
    mode: 0755

- name: Install CA Certificates
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ca_path }}/"
    owner: root
    group: root
    mode: '0644'
  with_fileglob:
    - ca/*
  notify:
    - Update trusted CA certificates
