---
- name: Ensure PipX is installed
  ansible.builtin.package:
    name: "pipx>=1.7.0"
    state: present

- name: Ensure PipX packages are installed
  become: true
  become_user: "{{ item.user | default(omit) }}"
  community.general.pipx:
    name: "{{ item.name | default(item) }}"
    state: "{{ item.state | default(omit) }}"
    version: "{{ item.version | default(omit) }}"
    executable: "{{ item.executable | default(omit) }}"
    install_deps: "{{ item.install_deps | default(omit) }}"
    inject_packages: "{{ item.inject_packages | default(omit) }}"
    include_injected: "{{ item.include_injected | default(omit) }}"
    install_apps: "{{ item.install_apps | default(omit) }}"
    system_site_packages: "{{ item.system_site_packages | default(omit) }}"
  loop: "{{ pipx_packages | default([]) }}"
