---
- name: Change various sysctl-settings
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    sysctl_set: true
    state: present
    reload: true
  with_dict: "{{ sysctl_overwrite }}"
  when: ansible_virtualization_type not in ['docker', 'lxc', 'openvz']
