{{ ansible_managed | comment }}

{% if item.value['Description'] is defined %}
# {{ item.value['Description'] }}
{% endif %}

{% if item.value['Interface'] is iterable %}
[Interface]
{% for key,value in item.value['Interface'].items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}

{% if item.value['Peers'] is iterable %}
{% for peer in item.value['Peers'] %}
[Peer]
{% for key,value in peer.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endfor %}
{% endif %}
