name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    name: Publish collection to Ansible Galaxy
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ github.head_ref }}
      - name: Get the version name from the tags
        run: echo "RELEASE_VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
      - name: Change collection version to match tag
        run: |
          sed -Ei "s/^version: .*/version: ${{ env.RELEASE_VERSION }}/" galaxy.yml
      - name: Commit galaxy.yml
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
        with:
          branch: main
          commit_message: "Update galaxy.yml for ${{ env.RELEASE_VERSION }}"
          file_pattern: galaxy.yml
      - name: Publish collection
        uses: docker://ghcr.io/artis3n/ansible_galaxy_collection:v3.0.0@sha256:21e7ed653601199e89895647854c47feee50d3edd97df05deccbc9e6a708d983
        with:
          api_key: '${{ secrets.ANSIBLE_GALAXY_API_KEY }}'
          galaxy_version: '${{ env.RELEASE_VERSION }}'
