---
name: Release Drafter

on:
  workflow_dispatch:
  issues:
    types: [labeled, unlabeled]
  pull_request:
    types: [labeled, unlabeled]
  discussion:
    types: [labeled, unlabeled]
  push:
    branches:
      - main

jobs:
  update_release_draft:
    name: Draft release
    runs-on: ubuntu-24.04
    steps:
      - name: Run Release Drafter
        uses: release-drafter/release-drafter@c031e8ec0665c05db08e57fceb2160ef6b4c15c2 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
