name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'
  release:
    types:
      - published

jobs:
  changes:
    name: Detect file changes
    runs-on: ubuntu-latest
    outputs:
      scenario: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Detect changes in roles
        uses: dorny/paths-filter@v2.10.2
        id: filter
        with:
          filters: |
            common:
              - roles/common/!(**.md)
              - molecule/common/**
            playbooks:
              - playbooks/**

  test:
    name: "Test scenario ${{ matrix.scenario }} on ${{ matrix.os }}"
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.scenario != '[]' && needs.changes.outputs.scenario != '' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu2004
          - ubuntu1804
          - debian10
          - debian9
        scenario: ${{ fromJSON(needs.changes.outputs.scenario) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          path: ansible_collections/vladgh/system
      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install docker ansible ansible-lint yamllint molecule molecule-docker
      - name: Test scenario
        run: molecule test --scenario-name ${{ matrix.scenario }}
        working-directory: ansible_collections/vladgh/system
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          MOLECULE_DISTRO: ${{ matrix.os }}
