name: Test

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'
  release:
    types:
      - published

jobs:
  changes:
    name: Detect file changes
    runs-on: ubuntu-22.04
    outputs:
      scenario: ${{ steps.filter.outputs.changes }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.0
      - name: Detect changes
        uses: dorny/paths-filter@v2.11.1
        id: filter
        with:
          filters: .github/filters.yml
  test:
    name: "Test scenario ${{ matrix.scenario }} on ${{ matrix.os }}"
    runs-on: ubuntu-22.04
    needs: changes
    if: ${{ needs.changes.outputs.scenario != '[]' && needs.changes.outputs.scenario != '' }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu2204
          - ubuntu2004
          - debian11
          - debian10
        scenario: ${{ fromJSON(needs.changes.outputs.scenario) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: ansible_collections/vladgh/system
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install test dependencies
        run: |
          python -m pip install --upgrade pip
          python3 -m pip install ansible-core molecule[docker] docker
      - name: Run Molecule tests
        run: molecule --base-config molecule/base.yml test --scenario-name ${{ matrix.scenario }}
        working-directory: ansible_collections/vladgh/system
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          MOLECULE_DISTRO: ${{ matrix.os }}

      # - name: Run Molecule tests
      #   run: molecule --base-config molecule/base.yml converge --scenario-name ${{ matrix.scenario }}
      #   working-directory: ansible_collections/vladgh/system
      #   env:
      #     PY_COLORS: 1
      #     ANSIBLE_FORCE_COLOR: 1
      #     MOLECULE_DISTRO: ${{ matrix.os }}
      #   continue-on-error: true
      # - name: Debugging with tmate
      #   uses: mxschmitt/action-tmate@v3.11

      # # - name: Add Git Safe Directories
      # #   run: git config --global --add safe.directory /github/workspace/ansible_collections/vladgh/system

      # Cannot use this action until https://github.com/ansible/creator-ee/issues/19 is resolved or a workaround is found
      # - name: Test scenario
      #   uses: gofrolist/molecule-action@v2.2.28
      #   with:
      #     molecule_options: --debug --base-config molecule/base.yml
      #     molecule_command: converge
      #     molecule_args: --scenario-name ${{ matrix.scenario }}
      #     molecule_working_dir: ansible_collections/vladgh/system
      #   env:
      #     PY_COLORS: 1
      #     ANSIBLE_FORCE_COLOR: 1
      #     MOLECULE_DISTRO: ${{ matrix.os }}
